body {
    /*background-image: url('/static/images/background.jpg');*/
    margin: 0px;
    background-color: lightgray;
}

textarea {
    width:400px;
    height: 400px;
    padding: 15px;
    border: none;
    line-height: 20px;
    border-radius: 25px;
}

.head {
    background-color: black;/*#003344;*/
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.description{
    margin: auto;
    margin-top: 10px;

    text-align: center;
    line-height: 20px;
    background-color: white;
    opacity: 50%;
    width: 890px;
    border-radius: 4px;
}

.main {
    display: flex;
    justify-content: center;
}

.box{
    width: 450px;
    padding: 10px;
    margin:10px;
    
    /* let dev align in the block and to the top */
    display: inline-block;
    vertical-align: top;

    text-align: center;
    line-height: 20px;
}

div#loading {
    width: 235px;
    height: 235px;
    display: none;
    background: url('/static/images/loadingimage.gif') center no-repeat;
    cursor: wait;
}

.submit_button{
    display: inline-block;
    border-radius: 4px;
    background-color: gray;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
