body {
    background-image: url('/static/images/background.jpg');
}

div#loading {
    width: 235px;
    height: 235px;
    display: none;
    background: url('/static/images/loadingimage.gif') center no-repeat;
    cursor: wait;
    }